*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(bg6.jpeg);
    background-position: center;
    background-size: cover;
}
.semHead{
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
}
.semHead span{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: absolute;
    top: 50px;
    left: 152px;
}
.content{
    min-height: 100%;
    width: 90%;
    padding: 40px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.356);
}
table{
    height: 100%;
    width: 100%;
    background-color: black;
    transform: scale(0.9);
}
th{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 800;
    width: 150px;
    color: white;
    background-color: black;
    border: 0.5px solid gray;
    padding: 8px 5px;
}
td{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    width: 150px;
    background-color: white;
    text-align: center;
    padding: 10px 5px;
}
.edit{
    width: 220px;
}
.view{
    padding: 6px 15px;
    border: 1px solid rgb(175, 174, 174);
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
    background-color: rgb(43, 72, 240);
}
.update{
    padding: 6px 10px;
    border: 1px solid rgb(175, 174, 174);
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
    background-color: rgb(56, 174, 30);
}
.delete{
    padding: 6px 10px;
    border: 1px solid rgb(175, 174, 174);
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 800;
    background-color: #ff1212;
}