*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(bg6.jpeg);
    background-position: center;
    background-size: cover;
}
nav{
    height: 17vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: scale(0.95);
}
.logo{
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}
.round{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color:rgb(252, 15, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 600;
}
.button{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid gray;
    background-color: rgb(252, 15, 51);
    box-shadow: 2px 2px 5px rgb(117, 117, 117);
    border-radius: 5px;
    border-radius: 2px;
    margin-right: 100px;
    transition: 0.2s linear;
}
.button:hover{
    background-color: black;
}
.content{
    height: 75vh;
    width: 90%;
    /* background-color: rgb(252, 226, 201); */
    border: 1px solid rgb(219, 218, 218);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.416);
}
.box{
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.box div{
    height: 130px;
    width: 380px;
    background-color: white;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
    font-weight: 600;
    position: relative;
    gap: 8px;
}
.go a{
    padding: 3px;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 10px;
}
.arrow{
    height: 25px;
}
