*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(lingu.jpg);
    background-position: center;
    background-size: cover;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 232, 224, 0.826);
}
.content{
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
nav{
    width: 100%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items:  center;
    justify-content: center;
    position: relative;
    gap: 10px;
}

nav p{
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 600;
}
.logo{
    height: 16vh;
    width: 50%;
    background-image: url(logo.png);
    background-position: center;
    background-size: cover;
}
.button{
    position: absolute;
    right: 100px;
}
.button a{
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 25px ;
    border-radius: 2px;
    transition: 0.5s linear;
    border: 1px solid rgb(179, 179, 179);
    background-color:rgb(252, 15, 51);
    box-shadow: 2px 2px 5px rgb(117, 117, 117);
    border-radius: 5px;
}
.button a:hover{
    background-color: black;
}
.itamContent{
    height: 120%;
    width: 100%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text{
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.text h1{
    font-family: sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: black;
}
.text h2{
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 800;
    margin-right: 25px;
    color: rgb(252, 15, 51);
}
.text h3{
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 600;
    border-bottom: 2.5px solid black;
    padding-bottom: 2px;
    color: rgb(216, 19, 127);
}
.text h4{
    font-family: sans-serif;
}
.imgCollege{
    margin-top: 20px;
    height: 65%;
    width: 97%;
    border-radius: 5px;
    background-image: url(LAECCollege.jpg);
    background-position: center;
    background-size: cover;
}
