*{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url(bg6.jpeg);
    background-position: center;
    background-size: cover;
}
nav{
    height: 17vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: scale(0.95);
}
.logo{
    margin-left: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 19px;
    font-family: sans-serif;
    font-weight: 600;
}
.round{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color:rgb(252, 15, 51);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 600;
}
.button{
    color: white;
    font-family: sans-serif;
    font-weight: 600;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid gray;
    background-color: rgb(252, 15, 51);
    box-shadow: 2px 2px 5px rgb(117, 117, 117);
    border-radius: 5px;
    margin-right: 100px;
    transition: 0.2s linear;
}
.button:hover{
    background-color: black;
}
.content{
    height: 75vh;
    width: 90%;
    /* background-color: rgb(252, 226, 201); */
    border: 1px solid rgb(219, 218, 218);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.356);
    border: 1px solid gray;
}
.heading{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
    border: 5px solid white;
    box-shadow: 2px 2px 5px rgb(104, 104, 104);
    transform: scale(0.8);
}
.heading h2{
    color: white;
    height: 70px;
    width: 100%;
    background-color: black;
    font-size: 26px;
    font-family: sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contentBox{
    height: 600px;
    width: 90%;
    display: flex;
    align-items: self-start;
    justify-content: center;
}
.left{
    height: 90%;
    width: 40%;
    display: flex;
    align-items: self-end;
    justify-content: center;
    transform: scale(1.1);
}
.present{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: 15px;
}
.presentBox{
    width: 100px;
    background-color: rgb(42, 248, 24);
    border: 1px solid rgb(104, 103, 103);
    border-bottom: 2px solid black;
}
.gap{
    height: 80%;
    width: 20px;
    border-bottom: 2px solid black;
    margin-bottom: 43.5px;
}
.absent{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
    font-family: sans-serif;
    font-weight: 600;
    padding-bottom: 15px;
}
.absentBox{
    width: 100px;
    background-color: rgb(250, 63, 30);
    border: 1px solid rgb(27, 27, 27);
    border-bottom: 2px solid black;
}
.right{
    height: 80%;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.right h3{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-weight: 400;
}
.right span{
    padding: 10px 20px;
    border-radius: 2px;
    color: white;
    font-family: sans-serif;
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(230, 12, 44);
}