<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/admin.css">
</head>
<body>
    <div class="main">
        <nav>
            <div class="logo">
                <div class="round"><%= result[0].name[0] %></div>
                <div class="text">WelCome<br><%= result[0].dept %> / Admin : <%= result[0].name %></div>
            </div>
            <a href="/logout" class="button">Logout</a>
        </nav>
        <div class="content">
            <div class="box">
                <div class="box1">
                    <h3>Add<br>Student</h3>   
                    <span class="go">
                        <a href="/admin/student-regester"><img src="/arrow.png" class="arrow"></a>
                    </span>
                </div>
                <div class="box2">
                    <h3>Add<br>Staff</h3>   
                    <span class="go">
                        <a href="/admin/staff-regester"><img src="/arrow.png" class="arrow"></a>
                    </span>
                </div>
                <div class="box3">
                    <h3>View<br>Student / Staff</h3>
                    <span class="go">
                        <a href="/admin/students?admin=<%= result[0].name %>"><img src="/arrow.png" class="arrow"></a>
                    </span>
                </div>
                <div class="box4">
                    <h3>Assign<br>Class`s</h3>
                    <span class="go">
                        <a href="/admin/subjectPage"><img src="/arrow.png" class="arrow"></a>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <script>
        let a= 7;
    </script>
</body>
</html>